<h1>Test out the button?!?!</h1>

<form>
<fieldset>
   <legend>This is the legend for a form</legend>
   <label>Click dat button:
      <button type="button" id="getRequest">Send GET Request</button>
   </label>       
</fieldset>
</form>

<div id="notifications"></div>

{{{script}}}